<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{
    // TODO #3 - Use the same list display from Views/Search/Index.cshtml
    @foreach (Dictionary<string, string> entry in ViewBag.jobs)
    {
        <table class="job-listing">
            @foreach (KeyValuePair<string, string> row in entry)
            {
                <tr>
                    <td>@row.Key</td>
                    <td>@row.Value</td>
                </tr>
            }
        </table>
    }
}